#digraph-masthead-navbar {
  background:#717179 url({{url.base}}hero.jpg) no-repeat center center;
  background-size: cover;

  .digraph-area-wrapper {
    max-width: 100%;
  }

  #digraph-masthead {
    #masthead-screen {
      color: #fff;
      text-shadow: 2px 2px $(color_shade);
    }
  }

  #digraph-navbar {
    .menuitem {
      background-color: rgba(255, 255, 255, 0.7);
      color: #000;

      &:hover, &.selected {
        background-color: $(color_background);
      }
    }
  }
}
