#digraph-masthead {
  padding: 0;
  background:#CEF2E8 url({{config.url.base}}header-background.jpg) no-repeat center center;
  background-size: cover;

  .digraph-area-wrapper {
    max-width: 100%;
  }
}

#masthead-screen {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
  }
}

#digraph-mobile-menu {
  background: #CEF2E8;
}

#digraph-navbar {
  margin-top: 0;
  padding-top: $(spacing_base);
  background: #CEF2E8;
  border-top: 0.1em solid #000;

  .menuitem {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;

    &:hover, &.selected {
      background-color: $(color_background);
    }
  }
}
